
@page "/account"
@inject HttpClient HttpClient
@inject IModalService modal
@inject NavigationManager NavManager
@using UI.Models;





@*Main Account page*@

    <h3>Account Page</h3>

    <h5> Please select a function</h5>

    <div class="col py-6 px-lg-5 border bg-light">
        <button class="btn btn-primary" @onclick="LoginButton">Login</button>
        <button class="btn btn-secondary" @onclick="SignUpButton">Sign Up</button>
    </div>



@code
{
    #region Fields
    private string _username;
    private string _password;
    private string _mobileNo;
    private string _email;

    private bool _loading;
    private bool _isUser;
    private bool _isStaff;
    private bool _isUserLoginPage;
    private bool _isUserSignUp;
    private bool _isStaffLoginPage;
    private bool _isStaffSignUp;
    private bool _isSignUp;


    #endregion
    #region Properties
   


    #endregion

    #region Private Method

    private void LoginButton()
    {
        NavManager.NavigateTo("/login");
    }
    private void SignUpButton()
    {
        NavManager.NavigateTo("/usersignup");
    }
   
  
    #endregion


}
