
@page "/appointment/appointmentselectphysicalservice"
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components.Routing


<h3>Please select your desired Service</h3>

<div class="col py-3 px-lg-5 border bg-light">
    <button class="btn btn-primary" @onclick=@((PhysicalServiceHDBButton))>HDB</button>
</div>
<div class="col py-3 px-lg-5 border bg-light">
    <button class="btn btn-primary" @onclick=@((PhysicalServiceICAButton))>ICA</button>
</div>
<div class="col py-3 px-lg-5 border bg-light">
    <button class="btn btn-primary" @onclick=@((PhysicalServiceMOMButton))>MOM</button>
</div>
<div class="col py-3 px-lg-5 border bg-light">
    <button class="btn btn-primary" @onclick=@((PhysicalServiceCPFButton))>CPF</button>
</div>
<div class="col py-3 px-lg-5 border bg-light">
    <button class="btn btn-dark">Back</button>
</div>

<div class="col py-3 px-lg-5 border bg-light">  
    Text: <input type="text" @bind="@accountId" />
</div>





@code
{
    // Testing
    [Parameter]
    public string serviceId { get; set; }
    protected override void OnInitialized()
    {
        serviceId = "1";
    }
    #region Fields

    [Parameter]
    public string accountId { get; set; }



    #endregion
    #region Properties


    #endregion

    #region Private Method

    private void PhysicalServiceHDBButton()
    {
        NavManager.NavigateTo("/appointment/appointmentphysicalbooking");
    }
    private void PhysicalServiceICAButton()
    {
        NavManager.NavigateTo("/appointment/appointmentphysicalbooking");
    }
    private void PhysicalServiceMOMButton()
    {
        NavManager.NavigateTo("/appointment/appointmentphysicalbooking");
    }
    private void PhysicalServiceCPFButton()
    {
        NavManager.NavigateTo("/appointment/appointmentphysicalbooking");
    }
    #endregion





}
