
@page "/appointment/appointmentbookingfail"
@inject NavigationManager NavManager

<center>
    <h4>Booking Failed!</h4>

    <div class="col py-3 px-lg-5">
        Please Try Again
    </div>
    
    <button class="btn btn-danger mt-3" @onclick="Navigate">OK</button>
</center>


@code
{

    private void Navigate()
        {
            NavManager.NavigateTo("/appointment/appointmentmainselection");
        }

    
}
