
@page "/appointment/appointmentphysicalbookingsuccess/{accountId}/{appointmentDate}/{appointmentTime}/{queueNo}"
@inject HttpClient HttpClient
@inject NavigationManager NavManager

<h3>Booked a physical appointment successfully!</h3>

@if (_loading)
{
    <h3>Loading Up Booking Results...</h3>
}
else
{

    <div class="col py-3 px-lg-5 border bg-light">
        Appointment Date: @appointmentDate
    </div>

    <div class="col py-3 px-lg-5 border bg-light">
        Appointment Date: @appointmentTime
    </div>

    <div class="col py-3 px-lg-5 border bg-light">
        Queue No : @queueNo
    </div>

    <div class="col py-3">
        <button class="btn btn-primary" @onclick="Navigate">OK</button>
    </div>
}

@code
{
    #region Fields

    #endregion

    #region Properties

    [Parameter]
    public string accountId { get; set; }
    [Parameter]
    public string userName { get; set; }
    [Parameter]
    public string password { get; set; }
    [Parameter]
    public string appointmentDate { get; set; }
    [Parameter]
    public string appointmentTime { get; set; }
    [Parameter]
    public string queueNo { get; set; }


    #endregion
    private bool _loading;

    private void Navigate()
    {
        NavManager.NavigateTo("/appointment/appointmentviewallappointment/{accountId}");
    }


}
