
@page "/appointment/appointmentdeleteconfirmation"
@inject IModalService modal
@inject NavigationManager NavManager

<center>
    <h4>Appointment Details:</h4>

    <div class="col py-3 px-lg-5 border bg-light">
        [Agency] [Service], [Location], [Date] [Time]
    </div>

    <button class="btn btn-outline-dark mt-3" @onclick=@((CancelButton))>Cancel</button>
    <button class="btn btn-danger mt-3" @onclick=@((DeleteButton))>Delete</button>
</center>


@code
{
    private void DeleteButton()
    {
        // To add conditions, temporarily routing to appointment delete success page

        modal.Show<AppointmentDeleteSuccess>("Delete Success");
        //modal.Show<AppointmentDeleteFail>("Delete Failed");
    }

    private void CancelButton()
    {
        NavManager.NavigateTo("/appointment/appointmentviewallappointment");
    }


}
