
@page "/staffclosephysicalappointment"
@inject NavigationManager NavManager
@inject HttpClient Http


<h3>Physical Counters</h3>

<p>List of Active Physical Counters.</p>

@if (list == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Physical Counter Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in list)
            {
                <tr>
                    <td>@x.PhysicalCounterId</td>
                    <td>
                        <button class="btn btn-primary" @onclick=@((CompletedPhysicalCounter))>Completed</button>
                        <button class="btn btn-primary" @onclick=@((NoShowPhysicalCounter))>Missed</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-dark" @onclick=@((BackButton))>Back</button>
}



@code
{

    private PhysicalCounterIdList[] list;

    public class PhysicalCounterIdList
    {
        public int PhysicalCounterId { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        // Get AppointmentByUserID from WebAPI
        // 
        //list = await Http.GetFromJsonAsync<PhysicalCounterIdList[]>("sample-data/PClist.json");
    }

    private async Task CompletedPhysicalCounter()
    {

        //Call API to PUT the data 
    }

    private async Task NoShowPhysicalCounter()
    {

        //Call API to PUT the data 
    }

    private async Task BackButton()
    {
        NavManager.NavigateTo("/staffmainselection");
    }
}
