
@page "/staffvccreationsuccess"

@inject NavigationManager NavManager

<center>
    <h4>Zoom link has been successfully added!</h4>
    <button class="btn btn-primary mt-3" @onclick=@((OkButton))>Ok</button>
</center>



@code
{
    private void OkButton()
    {
        NavManager.NavigateTo("/staffmainselection");
    }

}
