
@page "/staffvcselection"
@inject NavigationManager NavManager
@inject HttpClient Http


<h3>Virtual Counters</h3>

<p>Please Select a Virtual Meeting Room to open.</p>

@if (list == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Virtual Counter Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in list)
            {
                <tr>
                    <td>@x.VirtualCounterId</td>
                    <td>
                        <button class="btn btn-primary" @onclick=@((SelectVirtualCounter))>Open Virtual Counter</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-dark" @onclick=@((BackButton))>Back</button>
}



@code
{

    private VirtualCounterIdList[] list;

    public class VirtualCounterIdList
    {
        public int VirtualCounterId { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        list = await Http.GetFromJsonAsync<VirtualCounterIdList[]>("sample-data/VClist.json");
    }

    private async Task SelectVirtualCounter()
    {
        NavManager.NavigateTo("/staff/staffvcqueuelisting");
    }

    private async Task BackButton()
    {
        NavManager.NavigateTo("/staff/staffmainselection");
    }
}
