
@page "/staffappointmentselection"
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components.Routing

<h3>List of Unassigned Appointments</h3>


@if (_loading)
{
    <h3>Registering...</h3>
}
else
{
    //if (i > 0)
    //{
        <thead class="table-primary">
            <tr>
                <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Name of Customer</th>
                <th class="col-xs-1 col-sm-2 col-md-2 col-lg-2">Date</th>
                <th class="col-xs-4 col-sm-2 col-md-2 col-lg-2">Timeslot</th>
                <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Action</th>
            </tr>
        </thead>
        //for (int j = 0; j <= i; j++)
        //{
            <div class="table-responsive">
                <table class="table table-sm table-hover">

                    <tbody>
                        <tr>
                            @*<td>@nameArray[j]</td>
                            <td>@dateArray[j]</td>
                            <td>@timeslotArray[j]</td>*@
                            @*<td style="display:none;"> 1 </td>*@
                            <td>Mary</td>
                            <td>9 Oct 2021</td>
                            <td>10.30am</td>
                            <td>
                                <button class="btn btn-primary" @onclick=@((SelectButton))>Select</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            //}

        }
    else
        {

        <tr>
            <td colspan="5">No Record Found.</td>
        </tr>

    }


}








@code
{
    #region Field
    [Parameter]
    public string accountId { get; set; }
    [Parameter]
    public string userName { get; set; }

    #endregion
    //private bool _loading;

    private bool _loading;

    private void SelectButton()
    {
        //NavManager.NavigateTo("/staff/staffselectappointment");
        // update the database to assign staff ID to this particular appointment 
    }



}
