  // StaffMainSelection.razor page

@page "/staffmainselection"
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components.Routing

<h3>Please Select Action:</h3>


<div class="col py-3 px-lg-5 border bg-light">
    <button class="btn btn-primary" @onclick=@((SelectAppointmentButton))>Select Appointments For Today</button>
</div>
<div class="col py-3 px-lg-5 border bg-light">
    <button class="btn btn-primary" @onclick=@((JoinZoomAppointmentButton))>Join Zoom Appointment</button>
</div>
<div class="col py-3">
    <button class="btn btn-dark" @onclick=@((SignOutButton))>Sign Out</button>
</div>
<div class="col py-3">
    <button class="btn btn-dark" @onclick=@((ClosePhysicalAppointmentButton))>Close Physical Appointment</button>
</div>

@*<div class="col py-3 px-lg-5 border bg-light">
        <button class="btn btn-primary" @onclick=@((PhysicalCounterButton))>Physical Counter</button>
    </div>
    <div class="col py-3 px-lg-5 border bg-light">
        <button class="btn btn-primary" @onclick=@((VirtualCounterButton))>Virtual Counter</button>
    </div>
    <div class="col py-3 px-lg-5 border bg-light">
        <button class="btn btn-primary" @onclick=@((UploadZoomLinkButton))>Upload Today's Zoom Link</button>
    </div>
    <div class="col py-3">
        <button class="btn btn-dark" @onclick=@((SignOutButton))>Sign Out</button>
    </div>*@




@code
{
    #region Field
    [Parameter]
    public string accountId { get; set; }
    [Parameter]
    public string userName { get; set; }

    #endregion
    //private bool _loading;

    private void SelectAppointmentButton()
    {
        NavManager.NavigateTo($"/staffappointmentselection");
    }

    private void JoinZoomAppointmentButton()
    {
        NavManager.NavigateTo("/staffjoinzoomappointment");
    }


    private void PhysicalCounterButton()
    {
        NavManager.NavigateTo("/staffphysicalcounterselection");
    }
    private void VirtualCounterButton()
    {
        NavManager.NavigateTo("/staff/staffvcselection");
    }
    private void UploadZoomLinkButton()
    {
        NavManager.NavigateTo("/staff/staffvccreation");
    }

    private void SignOutButton()
    {
        NavManager.NavigateTo("/login");
    }

    private void ClosePhysicalAppointmentButton()
    {
        NavManager.NavigateTo("/staffclosephysicalappointment");
    }


}