
@page "/staff/staffphysicalcounterselection"
@inject NavigationManager NavManager
@inject HttpClient Http


<h3>Physical Counters</h3>

<p>Please Select a Physical Counter to open.</p>

@if (list == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Physical Counter Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in list)
            {
                <tr>
                    <td>@x.PhysicalCounterId</td>
                    <td>
                        <button class="btn btn-primary" @onclick=@((SelectPhysicalCounter))>Open Physical Counter</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-dark" @onclick=@((BackButton))>Back</button>
}



@code
{

    private PhysicalCounterIdList[] list;

    public class PhysicalCounterIdList
    {
        public int PhysicalCounterId { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        list = await Http.GetFromJsonAsync<PhysicalCounterIdList[]>("sample-data/PClist.json");
    }

    private async Task SelectPhysicalCounter()
    {
        NavManager.NavigateTo("/staff/staffphysicalcounterqueuelisting");
    }

    private async Task BackButton()
    {
        NavManager.NavigateTo("/staff/staffmainselection");
    }
}
